@import '../../../shared/variables';

.emptyStateWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  > *:first-child {
    flex-grow: 1;
  }
}

.infoText {
  font-size: 0.8rem;

  svg {
    fill: $accent-color;
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}
