.cache/**
.turbo/**
.vscode-test/**
.wdio-vscode-service/**
coverage/**
node_modules/**
scripts/**
src/**
.eslintrc.js
.gitignore
.prettierignore
.lintstagedrc.js
.vscodeignore
jest.config.js
tsconfig.json
webpack.config.ts
yarn.lock
