.manageColumns {
    &__columnGroup {
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    &__columnVisibility {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
input[type="checkbox"] {
    margin-right: 1.5rem;
}