.manageColumns {
    min-width: 300px;
    &__columnGroup {
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    &__columnVisibility {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    &__toggleBtn {
        background-color: rgb(54, 54, 54);
    }
    &__row_heading {
        margin: auto;
        width: 100%;
        display: flex;
    }
    &__small_button {
        font-size: 12px;
        color: var(--vscode-foreground)
    }

    li {
        height: 30px;
        .menuItem_button {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
input[type="checkbox"] {
    margin-left: 1.5rem;
}