// Variables

$row-bg-color: var(--vscode-editor-background);
$row-bg-alt-color: rgb(60, 60, 60, 1);

// Global Basics

* {
  box-sizing: border-box;
}

html,
body,
.react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;

  margin: 0;
  padding: 0;

  background-color: var(--vscode-editor-background);
}

// Extendable Silent Rules

%fullwidth {
  @extend %fullwidth;
}

%row-group {
  .tr {
    background-color: $row-bg-alt-color;
  }
  .tr:nth-child(2n) {
    background-color: $row-bg-color;
  }
}

%inverted-row-group {
  .tr {
    background-color: $row-bg-color;
  }
  .tr:nth-child(2n) {
    background-color: $row-bg-alt-color;
  }
}

%bullet {
  display: inline-block;
  border-radius: 99px;
  margin: 0 5px;
}

%row-arrow-base {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  display: inline-block;
}

%expandable-row-arrow {
  @extend %row-arrow-base;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.21);
  border-top: unset;
  border-left: unset;
  transition: transform 0.2s, right 0.2s, bottom 0.2s;
}

// Concrete selectors

.queued-bullet {
  @extend %bullet;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(255, 255, 255, 0.5) 0deg,
    rgba(255, 255, 255, 0) 180.31deg,
    rgba(255, 255, 255, 0) 360deg
  );
  border: 1px solid #ffffff;
}

.bullet {
  @extend %bullet;
  width: 5px;
  height: 5px;
  margin: 0 10px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.5);
}

.row-arrow-placeholder {
  @extend %row-arrow-base;
}

.expanded-row-arrow {
  @extend %expandable-row-arrow;
  transform: rotate(45deg);
  right: 1px;
  bottom: 2px;
}

.contracted-row-arrow {
  @extend %expandable-row-arrow;
  transform: rotate(-45deg);
  right: 4px;
  bottom: 0;
}

.error-message {
  padding: 0.5rem;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-editor-foreground);
}

.experiments {
  @extend %fullwidth;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  ul {
    padding-left: 1rem;
  }
  .table-container {
    @extend %fullwidth;
    overflow: auto;
    flex: 1;
  }
  .table {
    @extend %fullwidth;
    margin: 0.5rem 1rem;
    display: inline-block;
    border-collapse: collapse;
  }
  summary {
    white-space: nowrap;
    cursor: pointer;
    h2,
    h3 {
      margin: 0.25em;
      white-space: nowrap;
      display: inline-block;
    }
  }

  .depth-spacer {
    width: 1rem;
  }

  .row-group {
    @extend %row-group;
    margin: 0.5rem 0;
    &:nth-child(2n) {
      @extend %inverted-row-group;
    }
  }

  .normal-row-group {
    border: 1px solid gray;
  }
  .workspace-row-group {
    border: none;
    .tr .td {
      background-color: none;
    }
  }
  .td,
  .th {
    white-space: nowrap;
    text-align: left;
    min-width: 0;
    padding: 0 0.25rem;
  }
  .td {
    padding: 0.5rem;
    font-size: 1.1rem;
    line-height: 2rem;
    align-items: center;
  }
  .experiment-cell {
    text-align: left;
    padding-left: 1rem;
  }
  .grouped-cell,
  .grouped-header {
    transition: 0.2s all;
    background-color: var(--vscode-button-background);
    &:hover {
      background-color: var(--vscode-button-hoverBackground);
    }
  }
  .parent-header-cell {
    text-align: left;
    padding: 0.1rem 0.2rem;
    font-size: 0.9rem;
  }
  .headers-row {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    .th {
      padding: 0.4rem 0.25rem;
    }
  }
}

.page-heading {
  font-size: 2rem;
  margin: 1rem;
}

.options-panel {
  margin: 0.5rem 1rem;
}
