* {
  box-sizing: border-box;
}

html,
body,
.react-root {
  height: 100%;
}

.react-root {
  display: inline-block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;

  margin: 0;
  padding: 0;

  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}
