html,
body,
.react-root {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;

	margin: 0;
	padding: 0;

	background-color: var(--vscode-editor-background);
}

%bullet {
	border-radius: 99px;
	margin: 0 5px;
}

.queued-bullet {
	@extend %bullet;
	width: 9px;
	height: 9px;
	left: calc(50% - 9px / 2);
	top: calc(50% - 9px / 2 + 0.5px);

	/* vcs/bg-icon | process */
	background: conic-gradient(
		from 180deg at 50% 50%,
		rgba(255, 255, 255, 0.5) 0deg,
		rgba(255, 255, 255, 0) 180.31deg,
		rgba(255, 255, 255, 0) 360deg
	);

	/* vsc/text | hover */
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bullet {
	@extend %bullet;
	/* default */
	display: inline-block;
	width: 5px;
	height: 5px;
	line-height: 0;

	/* vsc/text | muted */
	background: rgba(255, 255, 255, 0.5);
}

%expandable-row-arrow {
	width: 8px;
	height: 8px;
	margin: 0 4px;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0.21);
	border-top: unset;
	border-left: unset;
	transition: 0.2s transform;
}

.expanded-row-arrow {
	@extend %expandable-row-arrow;
	transform: rotate(45deg);
}

.contracted-row-arrow {
	@extend %expandable-row-arrow;
	transform: rotate(-45deg);
}

.experiments {
	margin: 1rem;
	ul {
		padding-left: 1rem;
	}
	.table {
		overflow-x: auto;
	}
	.table,
	.thead,
	.tbody,
	.tr {
		width: 100%;
	}
	summary {
		white-space: nowrap;
		cursor: pointer;
		h2,
		h3 {
			margin: 0.25em;
			white-space: nowrap;
			display: inline-block;
		}
	}
	.tbody .tr:nth-child(2n) .td {
		background-color: rgb(150, 150, 150, 0.15);
	}
	.td,
	.th {
		white-space: nowrap;
	}
	.td {
		padding: 0.5rem;
		font-size: 1.1rem;
		text-align: center;
		line-height: 2rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.experiment-cell {
		text-align: left;
		padding-left: 1rem;
	}
	.grouped-cell,
	.grouped-header {
		transition: 0.2s all;
		background-color: var(--vscode-button-background);
		&:hover {
			background-color: var(--vscode-button-hoverBackground);
		}
	}
	.parent-header-cell {
		padding: 0.1rem 0.2rem;
		font-size: 0.9rem;
	}
	.headers-row {
		text-align: center;
		font-weight: bold;
		.th {
			padding: 0.4rem 0.25rem;
		}
		font-size: 1.2rem;
	}
	.group-placeholder {
		flex: 0 0 1rem;
	}
}
