@import '../../../../../shared/variables';

.commitsNav {
  text-align: left;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
}

.commitsButton {
  background: transparent;
  border: none;
  color: $meta-cell-color;
  text-decoration: underline;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &:hover:not(:disabled) {
    text-decoration: none;
  }
}

.commitsIcon {
  width: 10px;
  height: 10px;
}
