$hover-background-color: var(--vscode-list-hoverBackground);

.item {
  display: flex;
  cursor: pointer;
  height: 24px;
  padding: 2px 6px;
  &:hover {
    background-color: $hover-background-color;
  }
}

.itemLabel {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemIcon {
  width: 13px;
}
