@import '../../../shared/variables';

.messagesMenu {
  padding: 4px 0;
}

.item {
  display: flex;
  cursor: pointer;
  height: 24px;
  padding: 2px 6px;

  &:hover {
    background-color: $hover-background-color;
  }

  &:last-child {
    padding-bottom: 6px;
  }
}

.itemLabel {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  opacity: var(--disabled-opacity);

  &:hover {
    background-color: $bg-color;
  }
}

.itemIcon {
  width: 13px;
}

.dividerContainer {
  padding-right: 6px;
  padding-left: 6px;
}
