$background: var(--vscode-editor-background);

.item {
  display: flex;
  cursor: pointer;
  height: 20px;
}

.itemLabel {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemIcon {
  width: 13px;
}
