%link {
  color: var(--vscode-textLink-foreground);

  &:hover {
    color: var(--vscode-textLink-activeForeground);
  }

  &:active {
    color: var(--vscode-textLink-activeForeground);
  }
}

%buttonAsLink {
  @extend %link;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
