@use 'variables';

%link {
  color: variables.$link-fg-color;

  &:hover,
  &:active {
    color: variables.$link-active-color;
  }
}

%buttonAsLink {
  @extend %link;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
