* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
.react-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.react-root {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;

  margin: 0;
  padding: 0;

  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: 'monospace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-open {
  overflow: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}
