* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;

  margin: 0;
  padding: 0;

  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
}

.modal-open {
  overflow: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

button {
  font-family: inherit;
}

a {
  color: var(--vscode-textLink-foreground);

  &:hover {
    color: var(--vscode-textLink-activeForeground);
  }

  &:active {
    color: var(--vscode-textLink-activeForeground);
  }
}
