@use 'variables';
@use 'mixins';

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: block;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: variables.$bg-color;
  color: variables.$fg-color;
  font-family: variables.$editor-font;
}

.modalOpen {
  overflow: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

button {
  font-family: inherit;
}

a {
  @extend %link;
}
