$fg-color: var(--vscode-editor-foreground);
$bg-color: var(--vscode-editor-background);
$bullet-size: 9px;
$watermark-color: var(--vscode-descriptionForeground);

$border-color: var(--vscode-dropdown-border);
$metrics-color: var(--vscode-dvc-metrics);
$params-color: var(--vscode-dvc-params);
$deps-color: var(--vscode-dvc-deps);
$changed-color: var(--vscode-dvc-workspaceChanged);

$row-bg-color: $bg-color;
$header-fg-color: $fg-color;
$row-bg-alt-color: var(--vscode-sideBar-background);
$row-bg-selected-color: var(--vscode-list-activeSelectionBackground);
$row-border-selected-color: var(--vscode-list-focusOutline);
$header-bg-color: var(--vscode-dropdown-background);
$header-border-color: var(--vscode-tree-tableColumnsBorder);
$meta-cell-color: var(--vscode-descriptionForeground);

$hover-background-color: var(--vscode-list-hoverBackground);
$accent-color: var(--button-primary-background);

$indicator-badge-foreground: var(--vscode-activityBarBadge-foreground);
$indicator-badge-background: var(--vscode-activityBarBadge-background);
