$fg-color: var(--vscode-editor-foreground);
$bg-color: var(--vscode-editor-background);
$bullet-size: 9px;
$watermark-color: var(--vscode-descriptionForeground);

$border-color: var(--vscode-dropdown-border);
$metrics-color: var(--vscode-dvc-metrics);
$params-color: var(--vscode-dvc-params);
$changed-color: var(--vscode-dvc-workspaceChanged);

$row-bg-color: $bg-color;
$header-fg-color: $fg-color;
$row-bg-alt-color: var(--vscode-sideBar-background);
$header-bg-color: var(--vscode-dropdown-background);
$meta-cell-color: var(--vscode-descriptionForeground);

$hover-background-color: var(--vscode-list-hoverBackground);
