$fg-color: var(--vscode-editor-foreground);
$bg-color: var(--vscode-editor-background);
$bullet-size: 9px;
$watermark-color: var(--vscode-descriptionForeground);

$border-color: var(--vscode-checkbox-border);
$metrics-color: var(--vscode-dvc-metrics);
$params-color: var(--vscode-dvc-params);
$deps-color: var(--vscode-dvc-deps);
$changed-color: var(--vscode-dvc-workspaceChanged);
$error-color: var(--vscode-errorForeground);

$row-bg-color: $bg-color;
$header-fg-color: $fg-color;
$row-bg-alt-color: var(--vscode-sideBar-background);
$row-bg-selected-color: var(--vscode-list-activeSelectionBackground);
$row-fg-selected-color: var(--vscode-list-activeSelectionForeground);
$row-border-selected-color: var(--vscode-list-focusOutline);
$header-bg-color: $bg-color;
$header-border-color: $border-color;
$meta-cell-color: var(--vscode-descriptionForeground);
$header-resizer-color: var(--vscode-sash-hoverBorder);
$tooltip-border: var(--vscode-editorHoverWidget-border);

$hover-background-color: var(--vscode-list-hoverBackground);
$row-hover-background-color: var(--vscode-list-hoverBackground);

$accent-color: var(--button-primary-background);

$indicator-badge-background: var(--vscode-activityBarBadge-background);
$indicator-badge-foreground: var(--vscode-activityBarBadge-foreground);

$row-action-icon-color: var(--vscode-icon-foreground);
$row-action-selected-icon-color: var(
  --vscode-list-activeSelectionIconForeground,
  var(--vscode-icon-foreground)
);

$row-action-star: var(--vscode-descriptionForeground);
$row-action-star-checked: var(--vscode-editorLightBulb-foreground);

$shadow: var(--vscode-widget-shadow);

$plot-block-bg-color: var(--vscode-dropdown-background);

$checkbox-background: var(--checkbox-background);
$checkbox-border: var(--checkbox-border);
