@import '../../../shared/variables.scss';

.header {
  padding: 10px 5px;
  color: #fff;
  background-color: #303031;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: 4px;
  border-radius: 4px 4px 0 0;
  font-size: 0.8125rem;
  position: relative;
  width: 100%;
  border: none;
}

.bullet {
  display: block;
  width: $bullet-size;
  height: $bullet-size;
  border-radius: $bullet-size;
}

.pin {
  position: absolute;
  left: 10px;
  top: 10px;
  transform: rotate(-90deg);
  opacity: 0;
}

.header:hover .pin {
  opacity: 1;
}

.pinned {
  opacity: 1;
  transform: rotate(0deg);
}

.rowToggler {
  border: none;
  width: 100%;
  background: none;
  color: $fg-color;
  text-align: left;
  display: flex;

  svg {
    fill: $fg-color;
  }
}

.comparisonTableHeader {
  position: sticky;
  top: -4px;
  z-index: 2;
}

.pinnedColumnCell, .pinnedColumnHeader {
  position: sticky;
  left: 0;
  z-index: 1;

  &::after {
    content: '';
    width: 4px;
    height: calc(100% + 4px);
    position: absolute;
    right: 0;
    top: 0;
    background-color: $bg-color;
    z-index: 5;
  }
}

.pinnedColumnHeader {
  z-index: 3;
}

.cell {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top;
  transition: max-height 0.3s;
}

.cellHidden {
  max-height: 0;
}

.cell img {
  width: 100%;
  height: auto;
}

$gap: 20px;
.comparisonTable {
  table-layout: fixed;
  width: 100%;
  min-width: 100%;
  position: relative;

  .smallPlots & {
    width: 100%;
    padding-right: $gap;
  }

  .regularPlots & {
    width: calc(33% * var(--scale));
    padding-right: $gap;
  }

  .largePlots & {
    width: calc(50% * var(--scale));
    padding-right: $gap;
  }
}
