@import '../../../shared/variables.scss';

$gap: 4px;
.comparisonTableHeader {
  position: sticky;
  top: -#{$gap};
  z-index: 2;
  background-color: $bg-color;
}

.header {
  padding: 10px 5px;
  color: $fg-color;
  background-color: var(--editor-foreground-transparency-1);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: $gap;
  border-radius: 4px 4px 0 0;
  font-size: 0.8125rem;
  position: relative;
  width: 100%;
  border: none;
  cursor: grab;

  .pinnedColumnHeader & {
    cursor: initial;
  }
}

.bullet {
  display: block;
  width: $bullet-size;
  height: $bullet-size;
  border-radius: $bullet-size;
}

.pin {
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(-90deg);
  opacity: 0;

  path {
    fill: $fg-color;
  }
}

.header:hover .pin {
  opacity: 1;
}

.pinned {
  opacity: 1;
  transform: rotate(0deg);
}

.rowToggler {
  border: none;
  width: 100%;
  background: none;
  color: $fg-color;
  text-align: left;
  display: flex;

  svg {
    fill: $fg-color;
  }
}

.pinnedColumnCell,
.pinnedColumnHeader {
  position: sticky;
  left: 0;
  z-index: 1;

  &::after {
    content: '';
    width: $gap;
    height: calc(100% + $gap);
    position: absolute;
    right: 0;
    top: 0;
    background-color: $bg-color;
    z-index: 5;
  }
}

.pinnedColumnHeader {
  z-index: 3;
}

.cell {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top;
  transition: max-height 0.3s;
}

.cellHidden {
  max-height: 0;
}

.cell img {
  width: 100%;
  height: auto;
}

.gripIcon {
  position: absolute;
  z-index: 2;
  fill: $fg-color;
  left: 0;
  top: 0;
  padding: 5px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25px;
}
