@import '../../../shared/variables.scss';

$gap: 4px;
.comparisonTableHeader {
  position: sticky;
  z-index: 2;
  background-color: $bg-color;
}

.gripIcon {
  opacity: 0;
  position: absolute;
  z-index: 2;
  fill: $fg-color;
  left: 0;
  top: 0;
  padding: 5px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 25px;
}

.header {
  padding: 10px 5px;
  color: $fg-color;
  background-color: var(--editor-foreground-transparency-1);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: $gap;
  font-size: 0.8125rem;
  position: relative;
  width: 100%;
  border: none;
  cursor: grab;

  &:hover {
    .gripIcon {
      opacity: 0.5;
    }
  }

  .pinnedColumnHeader & {
    cursor: initial;
  }
}

.headerText {
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bullet {
  display: block;
  width: $bullet-size;
  height: $bullet-size;
  border-radius: $bullet-size;
}

.pin {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(-90deg);
  opacity: 0;
  cursor: pointer;

  path {
    fill: $fg-color;
  }
}

.header:hover .pin {
  opacity: 1;
}

.pinned {
  opacity: 1;
  transform: rotate(0deg);
}

.imageWrapper {
  width: 100%;
  display: block;
  padding: 0;
  border: 0;
}

.noImage {
  background-color: $bg-color;
  border-style: solid;
  border-width: thin;
  border-color: $watermark-color;
}

.noImageContent {
  padding-top: 25%;
  padding-bottom: 25%;
}

.rowToggler {
  border: none;
  background: none;
  color: $fg-color;
  text-align: left;
  display: flex;
  user-select: text;
  max-width: calc(100% - 20px);

  svg {
    fill: $fg-color;
    min-width: fit-content;
  }
}

.pinnedColumnCell,
.pinnedColumnHeader {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: $bg-color;

  &::before {
    content: '';
    width: calc($gap + 1px);
    height: calc(100% + $gap);
    position: absolute;
    right: 0;
    top: 0;
    background-color: $bg-color;
    z-index: 5;
  }

  &::after {
    content: '';
    width: calc($gap / 2);
    height: calc(100% + $gap);
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--editor-foreground-transparency-4);
    z-index: 5;
  }
}

.pinnedColumnHeader {
  z-index: 3;
}

.cell {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top;
  transition: max-height 0.3s;
  text-align: center;
}

.cellHidden {
  max-height: 0;
}

.cell img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.experimentName {
  color: $meta-cell-color;
}

.dropTarget {
  width: 2px;
  height: 100%;
  border-right: 2px dashed $accent-color;
}

.draggedColumn {
  opacity: 0.4;
}

.ghostElem {
  background-color: $accent-color;
  opacity: 1;
  color: $bg-color;
}

.copyButton {
  display: none;
}

.rowPath {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &:hover .copyButton {
    display: inline;
    font-size: 0.8125rem;
  }
}

.pathText {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  white-space: nowrap;
}
