@use '../../variables';

.backdrop {
  background-color: variables.$bg-transparency-5;
  position: fixed;
  top: 0;
  left: 0;
  height: max(100%, 100vh);
  width: max(100%, 100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  border: none;
}

.modal {
  background: variables.$bg-color;
  position: relative;
}

.modalContent {
  background: variables.$fg-transparency-1;
  padding: 2rem;
}

.closeButton {
  position: absolute;
  right: -12px;
  top: -40px;
  border: none;
  background: none;

  svg {
    fill: variables.$fg-color;
  }
}
