@import '../../variables.scss';

.backdrop {
  background-color: var(--editor-background-transparency-5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.modal {
  background-color: $fg-color;
}
