@import '../../variables.scss';

.backdrop {
  background-color: var(--editor-background-transparency-5);
  position: fixed;
  top: 0;
  left: 0;
  height: min(100%, 100vh);
  width: min(100%, 100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  border: none;
  z-index: 1001;
}

.modal {
  background: $bg-color;
  position: relative;
}

.modalContent {
  background: var(--editor-foreground-transparency-1);
  padding: 2rem;
}

.closeButton {
  position: absolute;
  right: -12px;
  top: -40px;
  border: none;
  background: none;

  svg {
    fill: $fg-color;
  }
}
