@import '../../../../../shared/variables';

.commitsAndBranchesNav {
  padding: 20px 16px;
  width: 100px;
  overflow: visible;
}

.commitsAndBranchesNavButton {
  background: transparent;
  border: none;
  color: $accent-color;
  text-decoration: underline;
  font-size: 0.6rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    text-decoration: none;
  }
}

.separator::before {
  content: '|';
}
