@import '../../../shared/variables';

.dvcLiveExamples {
  margin-top: 20px;

  vscode-panels {
    width: max-content;
    margin: 0 auto;
  }
}

.otherFrameworks {
  white-space: pre-wrap;
  background-color: transparent !important;
  color: $watermark-color;
  font-family: sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.6;
  padding: 0;
  text-align: left;
  width: max-content;
}
