// Dark

$watermark-color: rgba(255, 255, 255, 0.6);

// Light

$watermark-color-light: rgba(0, 0, 0, 0.68);

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  flex-wrap: wrap;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.emptyStateText {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  letter-spacing: 0.04em;
  color: $watermark-color;

  @at-root {
    :global(.vscode-light) & {
      color: $watermark-color-light;
    }
  }
}

.plotsContainer {
  summary {
    margin: 14px 10px;
    font-weight: 900;
    font-size: 1.25rem;
  }
}
