@import '../../shared/variables.scss';
@import '../../shared/style.scss';

$gap: 20px;

.plots {
  width: 100%;
  height: 100%;
}

.plotsContainer {
  width: 100%;

  summary {
    list-style-type: none;
    font-family: var(--vscode-font-family);
    margin: 14px 10px;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
  }
}

.plotsContainerWrapper {
  position: relative;
}

.detailsIcon {
  fill: $fg-color;
  margin-bottom: -4px;
}

.iconMenu {
  position: absolute;
  right: $gap;
  top: -15px;
  z-index: 10;
}

.plotsWrapper {
  width: 100%;
}

:global(.vega-bindings):not(:empty) {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $plot-block-bg-color;
  color: $fg-color;
  padding: 10px;
  display: none;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    accent-color: $accent-color;
  }
}

:global(.vega-embed) {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex !important;
  align-items: center;
  justify-content: center;

  &:hover {
    :global(.vega-bindings) {
      display: block;
    }
  }

  svg {
    overflow: visible;
  }
}

.singleViewPlotsGrid,
.multiViewPlotsGrid {
  width: 100%;
  height: max-content;

  + .singleViewPlotsGrid,
  + .multiViewPlotsGrid {
    margin-top: $gap;
  }
}

:global(.ReactVirtualized__Grid__innerScrollContainer),
.noBigGrid {
  width: calc(100% - $gap * 2) !important;
  max-width: none !important;
  max-height: none !important;
  height: auto !important;
  margin-left: $gap;
  display: grid;
  gap: $gap;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--nbPerRow), 1fr);

  + .singleViewPlotsGrid,
  + .multiViewPlotsGrid {
    margin-top: $gap;
  }

  // When editing the grid-template-column for any viewport or plot size, `getNbItemsPerRow` in the `./utils.ts` file should also be updated
  .smallPlots & {
    :global(.role-axis-title) text {
      font-size: 10px;
    }
  }
}

.multiViewPlotsGrid {
  padding-right: $gap;
}

.plot {
  overflow: visible;
  cursor: grab;
  position: relative;
  background: var(--editor-foreground-transparency-1);
  border: none;
  padding-top: 5px;

  .plotGripIcon {
    position: absolute;
    z-index: 2;
    fill: $fg-color;
    left: 0;
    top: 0;
    padding: 5px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;

    path {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }

  &:hover {
    z-index: 2;

    .plotGripIcon {
      opacity: 0.5;
    }
  }
}

.plotResizer {
  position: absolute;
  border: none;
  background: none;

  &::after,
  &::before {
    content: '';
    background-color: $fg-color;
    position: absolute;
  }
}

$resizer-border: 2px dashed $accent-color;
.resizerLocked {
  position: absolute;
  background-color: $accent-color-transparent;
  border: $resizer-border;
  border-right: none;

  .plotExpanding & {
    border-right: $resizer-border;
    border-left: none;
  }
}

.plotExpanding .plotExpandingBorders {
  background-color: $accent-color-transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: $resizer-border;
  border-right: none;
  box-sizing: border-box;
}

.plotResizer {
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  cursor: col-resize;

  &::after {
    width: 1px;
    height: 10px;
    bottom: 1px;
    right: 1px;
  }

  &::before {
    width: 10px;
    height: 1px;
    bottom: 1px;
    right: 1px;
  }

  .resizerLocked {
    width: 3px;
    height: 100%;
    top: 0;
    right: 1px;
  }
}

.plot img,
.plot svg {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

.plot.multiViewPlot {
  aspect-ratio: calc(0.8 * var(--scale) + 0.2);
  grid-column: span var(--scale);
  width: calc(300px * var(--scale));
  max-width: max-content;
}

.comparisonTable {
  table-layout: fixed;
  width: calc(400px * var(--scale));
  position: relative;
  padding: 0 20px;
  padding-right: $gap;
}

.dropSectionWrapper {
  height: min-content;
}

.dropSection {
  height: 10px;
}

.dropSectionMaximized,
.dropTarget {
  height: auto;
  opacity: 0.5;
  border: 3px dashed $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowDropTarget {
  width: 100%;
  padding: 20px;
}

.dropIcon {
  border-radius: 100%;
  border: 3px solid $accent-color;
  padding: 20px;
}

.smallDropIcon {
  padding: 5px;
}

.smallDropIcon,
.dropIcon {
  box-sizing: content-box;

  path {
    fill: $accent-color;
  }
}

.zoomablePlot {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
}

.zoomedInPlot {
  width: 80vw;
  height: calc(80vh - 100px);

  :global(.chart-wrapper) {
    width: 100%;
    height: 100%;
  }

  svg {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
  }
}

.infoTooltipToggle {
  display: flex;
  align-items: center;
  cursor: initial;
}

.infoIcon {
  fill: $accent-color;
  margin-left: 6px;
}

.infoTooltip {
  max-width: 340px;
  margin-left: 5px;
  white-space: normal;
  display: flex;
  gap: 4px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
  cursor: auto;

  svg {
    min-width: 16px;
    min-height: 16px;
  }

  a {
    text-decoration: none;
  }
}

:global(.has-actions) {
  summary {
    background: $fg-color !important;
  }
}

:global(.vega-actions) {
  background: $fg-color !important;

  &::before,
  &::after {
    border-bottom-color: $fg-color !important;
  }

  a:hover {
    background-color: var(--editor-background-transparency-1) !important;
  }
}
