@import '../../shared/variables.scss';

$gap: 20px;

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.emptyStateText {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  letter-spacing: 0.04em;
  color: $watermark-color;

  @at-root {
    :global(.vscode-light) & {
      color: $watermark-color-light;
    }
  }
}

.plotsContainer {
  width: 100%;

  summary {
    list-style-type: none;
    font-family: var(--vscode-font-family);
    margin: 14px 10px;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.plotsContainerWrapper {
  position: relative;
}

.detailsIcon {
  fill: $fg-color;
  margin-bottom: -4px;
}

.iconMenu {
  position: absolute;
  right: $gap;
  top: -15px;
  z-index: 10;
}

.plotsWrapper {
  width: 100%;

  :global(.vega-embed) {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.singleViewPlotsGrid, .multiViewPlotsGrid {
  width: calc(100% - $gap * 2);
  margin-left: $gap;
  display: grid;
  gap: $gap;
  grid-auto-flow: row;

  + .singleViewPlotsGrid, + .multiViewPlotsGrid {
    margin-top: $gap;
  }

  .largePlots & {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  .regularPlots & {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .smallPlots & {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    :global(.role-axis-title) text {
      font-size: 12px;
    }
  }

  @media (min-width: 800px) {
    :not(.multiViewPlotsGrid) {
      justify-content: space-around;
    }

    .largePlots & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1200px) {
    .regularPlots & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .smallPlots & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media (min-width: 1600px) {
    .largePlots & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .regularPlots & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .smallPlots & {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  @media (min-width: 2000px) {
    .largePlots & {
      grid-template-columns: repeat(auto-fill, minmax(1fr, 1000px));
    }
  
    .regularPlots & {
      grid-template-columns: repeat(auto-fill, minmax(1fr, 800px));
    }
  
    .smallPlots & {
      grid-template-columns: repeat(auto-fill, minmax(1fr, 500px));
    }
  }
}

.multiViewPlotsGrid {
  width: max-content;
  padding-right: $gap;
}

.plot {
  aspect-ratio: 4 / 3;
  overflow: visible;
  padding: 10px 10px 10px 30px;
  cursor: grab;
  position: relative;
  border-radius: 5px;
  background: var(--editor-foreground-transparency-1);

  &:hover {
    z-index: 2;
  }
}

.plotGripIcon {
  position: absolute;
  z-index: 2;
  fill: $fg-color;
  left: 0;
  top: 0;
  padding: 5px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.plot img,
.plot svg {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

.plot.multiViewPlot {
  aspect-ratio: var(--scale) - 1;
  grid-column: span var(--scale);

  .largePlots & {
    width: max-content;
  }
  
  .regularPlots & {
    width: calc(300px * var(--scale));
  }
  
  .smallPlots & {
    width: calc(200px * var(--scale));
  }
}

.sectionRenamer {
  background-color: transparent;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  color: $fg-color;
}

.comparisonTable {
  table-layout: fixed;
  width: 100%;
  min-width: 100%;
  position: relative;
  padding: 0 20px;

  .smallPlots & {
    width: 100%;
    padding-right: $gap;
  }

  .regularPlots & {
    width: calc(33% * var(--scale));
    padding-right: $gap;
  }

  .largePlots & {
    width: calc(50% * var(--scale));
    padding-right: $gap;
  }

  @media (min-width: 1000px) {
    min-width: 75%;

    .smallPlots & {
      width: 75%;
    }
  
    .regularPlots & {
      width: 100%;
    }
  
    .largePlots & {
      min-width: 100%;
      width: calc(33% * var(--scale));
    }
  }
  
  @media (min-width: 2000px) {
    min-width: 100%;

    .smallPlots & {
      width: 50%;
    }
  
    .regularPlots & {
      width: 75%;
    }
  
    .largePlots & {
      width: 100%;
      padding-right: 0;
    }
  }
}

.dropSection{
  height: 10px;
}

.dropIcon {
  display: none;
}

.dropSectionMaximized {
  height: auto;
  opacity: 0.5;
  border: 3px dashed var(--vscode-focusBorder);
  display: flex;
  justify-content: center;
  align-items: center;

  .dropIcon {
    display: block;
    border-radius: 100%;
    border: 3px solid var(--vscode-focusBorder);
    padding: 20px;
    box-sizing: content-box;

    path {
      fill: var(--vscode-focusBorder)
    }
  }
}
