// Dark

$watermark-color: rgba(255, 255, 255, 0.6);

// Light

$watermark-color-light: rgba(0, 0, 0, 0.68);

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  flex-wrap: wrap;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.emptyStateText {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  letter-spacing: 0.04em;
  color: $watermark-color;

  @at-root {
    :global(.vscode-light) & {
      color: $watermark-color-light;
    }
  }
}

.plotsContainer {
  width: 100%;

  summary {
    cursor: pointer;
    font-family: var(--vscode-font-family);
    margin: 14px 10px;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.plotsContainerWrapper {
  position: relative;
}

.iconMenu {
  position: absolute;
  right: 5%;
  top: -10px;
}

$gap: 20px;
.plotsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: 100%;
  justify-content: center;

  :global(.vega-embed) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.largePlots .plot {
  width: calc(100% - $gap);
  height: 60vw;
  max-width: 1000px;
  max-height: 600px;
}

.regularPlots .plot {
  width: calc(50% - $gap);
  height: 35vw;
  max-width: 500px;
  max-height: 400px;
}

.smallPlots .plot {
  width: calc(33% - $gap);
  height: 20vw;
  max-width: 300px;
  max-height: 200px;
}
