@import '../../shared/variables.scss';

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  flex-wrap: wrap;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}

.emptyStateText {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  letter-spacing: 0.04em;
  color: $watermark-color;

  @at-root {
    :global(.vscode-light) & {
      color: $watermark-color-light;
    }
  }
}

.plotsContainer {
  width: 100%;

  summary {
    list-style-type: none;
    font-family: var(--vscode-font-family);
    margin: 14px 10px;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.plotsContainerWrapper {
  position: relative;
}

.detailsIcon {
  fill: $fg-color;
  margin-bottom: -4px;
}

.iconMenu {
  position: absolute;
  right: 5%;
  top: -10px;
  z-index: 10;
}

$gap: 20px;
.plotsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: 100%;
  justify-content: center;

  :global(.vega-embed) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin half() {
  width: calc(50% * var(--scale) - $gap);
  height: 35vw;
}

@mixin third() {
  width: calc(33% * var(--scale) - $gap);
  height: 20vw;
}

@mixin quarter() {
  width: calc(25% * var(--scale) - $gap);
  height: 10vw;
}

@mixin sixth() {
  width: calc(16% * var(--scale) - $gap);
  height: 10vw;
}

.largePlots .plot {
  width: calc(100% - $gap);
  height: 60vw;
}

.regularPlots .plot {
  @include half();
}

.smallPlots .plot {
  @include third();
}

@media (min-width: 1000px) {
  .largePlots .plot {
    @include half();
  }

  .regularPlots .plot {
    @include third();
  }

  .smallPlots .plot {
    @include quarter();
  }
}

@media (min-width: 2000px) {
  .largePlots .plot {
    @include third();
  }

  .regularPlots .plot {
    @include quarter();
  }

  .smallPlots .plot {
    @include sixth();
  }
}

.plot {
  text-align: center;
  overflow: visible;
  position: relative;

  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      z-index: #{100 - $i};
    }
  }
}

.plot img,
.plot svg {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

.plot.multiViewPlot {
  max-width: 100%;
  min-width: 0;
}

.sectionRenamer {
  background-color: transparent;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  color: $fg-color;
}

.comparisonTable {
  table-layout: fixed;
  width: 100%;
  min-width: 100%;
  position: relative;
  margin: 0 auto;

  .smallPlots & {
    width: 100%;
    padding-right: $gap;
  }

  .regularPlots & {
    width: calc(33% * var(--scale));
    padding-right: $gap;
  }

  .largePlots & {
    width: calc(50% * var(--scale));
    padding-right: $gap;
  }

  @media (min-width: 1000px) {
    min-width: 75%;

    .smallPlots & {
      width: 75%;
    }
  
    .regularPlots & {
      width: 100%;
    }
  
    .largePlots & {
      min-width: 100%;
      width: calc(33% * var(--scale));
    }
  }
  
  @media (min-width: 2000px) {
    min-width: 100%;

    .smallPlots & {
      width: 50%;
    }
  
    .regularPlots & {
      width: 75%;
    }
  
    .largePlots & {
      width: 100%;
      padding-right: 0;
    }
  }
}
