@import '../../../shared/variables';
@import '../../../shared/mixins';

.studioSettings {
  display: 'flex';
  margin-top: -20px;
}

.checkboxWrapper {
  text-align: left;
  margin: '0 auto';
}

.checkbox {
  font-size: inherit;
}

.checkboxDescription {
  font-size: 0.8rem;
  margin-top: -10px;
}

.buttonAsLink {
  @extend %buttonAsLink;
}
