@import '../../../shared/variables';
@import '../../../shared/mixins';

.buttonAsLink {
  @extend %buttonAsLink;
}

.userAuthCode {
  color: $fg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .copyButton {
    display: flex;
    margin: 0 0 2px 2px;
    max-width: 16px;
    max-height: 16px;
    width: 16px;
    height: 16px;
  }
}

.studioSettings {
  display: 'flex';
  margin-top: -20px;
}

.checkboxWrapper {
  text-align: left;
  margin: '0 auto';
}

.checkbox {
  font-size: inherit;
}

.checkboxDescription {
  font-size: 0.8rem;
  margin-top: -10px;
}
