@use '../../../shared/variables';
@use '../../../shared/mixins';

.remoteDetails {
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1rem;
}

.dvcRoot,
.alias,
.remote {
  padding: 5px;
}

.dvcRoot,
.alias {
  font-weight: bold;
  vertical-align: top;
}

.alias,
.remote {
  white-space: nowrap;
}

.remote {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.empty {
  text-align: center;
}

.supportedStorage {
  margin-top: 20px;

  vscode-panels {
    width: 510px;
    margin: 0 auto;
  }
}

.storageDetails {
  white-space: pre-wrap;
  background-color: transparent !important;
  color: variables.$watermark-color;
  font-family: sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.6;
  padding: 0;
  text-align: left;
  width: max-content;
}

.extensionIcon {
  fill: variables.$accent-color;
  margin-bottom: -3px;
}

.warnIcon {
  fill: variables.$warn-color;
  margin-bottom: -3px;
}
