@import '../../../shared/variables';
@import '../../../shared/mixins';

.remoteDetails {
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1rem;
}

.dvcRoot,
.alias,
.remote {
  padding: 5px;
}

.dvcRoot,
.alias {
  font-weight: bold;
  vertical-align: top;
}

.alias,
.remote {
  white-space: nowrap;
}

.remote {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.empty {
  text-align: center;
}

.storageSlider {
  margin-top: 40px;

  vscode-panels {
    width: max-content;
    margin: 0 auto;
    white-space: pre-wrap;
  }
}

.storageView {
  text-align: left;
  padding: 0;
  width: max-content;
  margin: 0 50px;
}

.storageDetails {
  background-color: transparent !important;
  letter-spacing: 0.04em;
  color: $watermark-color;
  font-family: sans-serif;
  line-height: 1.6;
}

.infoIcon {
  fill: $accent-color;
  margin-bottom: -3px;
}

.warnIcon {
  fill: $warn-color;
  margin-bottom: -3px;
}
