.menu {
  list-style: none;
  display: flex;
  padding: 2px;
  border: 1px solid #3a3d41;
  width: max-content;
  background-color: #1e1e1e;
}

.item {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;

  border: none;
  background: inherit;

  &:hover {
    background-color: rgba(#fff, 0.1);
  }
}

.hoverMenu {
  position: absolute;
  top: 25px;
  left: 5px;
  width: max-content;
  cursor: initial;
  z-index: 1;

  .last & {
    left: auto;
    right: 5px;
  }
}
