.menu {
  list-style: none;
  display: flex;
  padding: 2px;
  border: 1px solid #3A3D41;
  width: max-content;
  background-color: #1E1E1E;
}

.item {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  &:hover {
    background-color: rgba(#fff, 0.1);
  }
}

.icon {
  max-width: 75%;
  max-height: 75%;
}

.hoverMenu {
  position: absolute;
  top: 25px;
  left: 10px;
  width: max-content;
}
