@import '../../variables.scss';

.menu {
  list-style: none;
  display: flex;
  padding: 2px;
  border: 1px solid var(--editor-foreground-transparency-5);
  border-radius: 5px;
  width: max-content;
  background-color: $bg-color;
}

.item {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 0;
  background: inherit;
  color: $fg-color;

  &:hover {
    background-color: var(--editor-foreground-transparency-1);
  }
}

.hoverMenu {
  position: absolute;
  top: 25px;
  left: 5px;
  width: max-content;
  cursor: initial;
  z-index: 1;

  .last & {
    left: auto;
    right: 5px;
  }
}
