@use '../../../shared/variables';
@use '../../../shared/mixins';

.inlineWarningSvg {
  vertical-align: middle;
  fill: variables.$warn-color;
  width: 16px;
  height: 16px;
}

.sideBySideButtons *:not(:first-child) {
  margin-left: 15px;
}

.pythonExtInfo {
  max-width: 350px;
  margin: 8px auto;
}
