// Variables

@import '../../../shared/variables.scss';

$nested-row-padding: 1.35rem;

$edge-padding: 0.8rem;
$cell-padding: 0.5rem;
$workspace-row-edge-margin: $edge-padding - $cell-padding;

// Extendable Silent Rules
%expandableRowArrow {
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  display: inline-block;
  position: absolute;
  border: 2px solid $fg-color;
  border-top: unset;
  border-left: unset;
  transition: transform 0.2s, right 0.2s, bottom 0.2s;
  margin: 12px 6px;
}

%truncateLeftParent {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

%truncateLeftChild {
  overflow: hidden;
  text-overflow: ellipsis;
  unicode-bidi: isolate;
  direction: ltr;
}

%headerCellPadding {
  padding: 0.1em 0;
}

%baseInnerCell {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 $cell-padding;
  align-items: center;
  width: 100%;
  height: 100%;
  &:hover {
    & .copyButton {
      display: block;
    }
  }
}

// Concrete selectors

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.bullet {
  color: $fg-color;
  display: inline-block;
  width: 24px;
  flex: 0 0 24px;
  text-align: center;
  position: relative;
  .queuedExperiment & svg {
    height: 12px;
  }

  &::before {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    content: '';
    border-radius: 99px;
    width: 6px;
    height: 6px;
    z-index: 2;

    .normalExperiment & {
      line-height: 0;
      background: currentColor;
      border-radius: 100%;
    }

    .workspaceWithChanges.normalExperiment & {
      background-color: $changed-color;
    }

    .unselectedExperiment & {
      width: 4px;
      height: 4px;
      vertical-align: middle;
      border: 1px solid currentColor;
      background-color: $bg-color;
    }

    .unselectedExperiment.oddRow & {
      background-color: $row-bg-alt-color;
    }

    .workspaceWithChanges.unselectedExperiment & {
      border: 1px solid $changed-color;
    }

    .queuedExperiment & {
      display: none;
    }
    .runningExperiment & {
      width: 4px;
      height: 4px;
      vertical-align: middle;
      border: 1.5px solid $row-bg-color;
      border-radius: 100%;
      border-right: 1.5px solid currentColor;
      border-top: 1.5px solid currentColor;
      animation: spin 1s cubic-bezier(0.53, 0.21, 0.29, 0.67) infinite;
      background-color: $bg-color;
    }
    .runningExperiment.oddRow & {
      background-color: $row-bg-alt-color;
    }
    .workspaceWithChanges.runningExperiment & {
      border-right-color: $changed-color;
      border-top-color: $changed-color;
    }

    .runningExperiment.oddRow > .firstCell & {
      border-left: 1.5px solid $row-bg-alt-color;
      border-bottom: 1.5px solid $row-bg-alt-color;
    }
  }
}

.rowArrowContainer {
  width: 20px;
  height: 32px;
  padding: 0;
  flex: 0 0 20px;
  display: inline-block;
  position: relative;
  border: none;
  background: none;
}

.expandedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(45deg);
  right: 1px;
  bottom: 2px;
  border-color: $fg-color;
}

.contractedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(-45deg);
  right: 4px;
  bottom: 0;
}

.experiments {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .firstCell {
    display: flex;
    flex-flow: row nowrap;
  }
  .experimentGroup {
    .nestedRow {
      .firstCell {
        padding-left: $nested-row-padding;
      }
    }
    &.expandedGroup .nestedRow {
      .bullet {
        &::after {
          content: '';
          height: 100%;
          top: 0;
          right: calc(50% - 0.5px);
          position: absolute;
          border-right: 1px dotted rgb(127, 127, 127);
          clip-path: inset(0.05rem 0 0 0);
        }
      }
      &:first-of-type {
        .bullet::after {
          height: 50%;
          top: 50%;
          clip-path: inset(0 0 0 0);
        }
      }
      &:last-of-type {
        .bullet::after {
          height: 50%;
        }
      }
    }
  }
  ul {
    padding-left: 1rem;
  }
  .tableContainer {
    overflow: auto;
    flex: 1;
  }
  .table {
    display: inline-block;
    border-collapse: collapse;
  }
  summary {
    white-space: nowrap;
    cursor: pointer;
    h2,
    h3 {
      margin: 0.25em;
      white-space: nowrap;
      display: inline-block;
    }
  }

  .depthSpacer {
    width: 1rem;
  }

  .thead {
    border-bottom: 1px solid $border-color;
  }

  .tr {
    position: relative;
  }

  .headerRow {
    font-size: 0.7rem;

    .headerCellWrapper {
      @extend %truncateLeftParent;
      opacity: 0.6;
    }
    .cellContents {
      @extend %truncateLeftChild;
      display: block;

      span[draggable='true'] {
        display: block;
      }
    }

    &:last-child,
    .firstLevelHeader {
      .paramHeaderCell,
      &.paramHeaderCell {
        color: $params-color;
      }

      .metricHeaderCell,
      &.metricHeaderCell {
        color: $metrics-color;
      }
    }

    &:last-child {
      font-size: 0.9rem;

      .headerCell {
        text-align: right;
      }

      .headerCellWrapper {
        opacity: 1;
      }

      .experimentHeader {
        @extend %headerCellPadding;
        padding-left: $cell-padding;
        text-align: left;
        direction: ltr;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .rowGroup {
    margin: 0.5rem 0;
  }
  .normalRowGroup {
    border: 1px solid $border-color;
    .oddRow {
      background-color: $row-bg-alt-color;
    }
  }
  .workspaceRowGroup {
    border: none;

    .td {
      &:first-child {
        padding-left: $workspace-row-edge-margin;
        .innerCell {
          padding-left: $cell-padding;
          border-left: 1px solid $border-color;
        }
      }

      &:last-child {
        padding-right: $workspace-row-edge-margin;
        .innerCell {
          padding-right: $cell-padding;
          border-right: 1px solid $border-color;
        }
      }
    }

    .innerCell,
    .timestampInnerCell {
      height: 100%;
      width: 100%;
      background-color: none;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }

  .workspaceChange {
    color: $changed-color;
  }

  .td,
  .th {
    white-space: nowrap;
    min-width: 0;
    position: relative;
  }
  .th {
    height: 100%;
  }
  .td {
    height: auto;
    font-size: 0.8rem;
    line-height: 2rem;
    align-items: center;
    &:first-child {
      .innerCell {
        padding-left: $edge-padding;
      }
    }

    &:last-child {
      .innerCell {
        padding-right: $edge-padding;
      }
    }
  }
  .experimentCell {
    text-align: left;
    .innerCell {
      justify-content: flex-start;
    }
  }

  .placeholderHeaderCell {
    background-color: $header-bg-color;
    border-right: 2px solid $bg-color;
  }

  .headerCell {
    @extend .placeholderHeaderCell;
    color: $header-fg-color;
    text-align: center;
    border-bottom: 2px solid $bg-color;
    padding: 0.31rem $cell-padding;
  }

  .sortingHeaderCellAsc {
    border-top: 2px solid $fg-color;
  }

  .sortingHeaderCellDesc {
    border-bottom: 2px solid $fg-color;
  }
}

.webviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%arrow {
  background: none;
  border: none;
  color: $header-fg-color;
  position: absolute;
  top: 5px;
}

.arrowLeft {
  @extend %arrow;
  left: -2px;
}

.arrowRight {
  @extend %arrow;
  right: -2px;
}

.draggingColumn {
  border: 1px solid $fg-color;
  font-size: 0.7rem;
  opacity: 0.7;
}

.staticColumn {
  transform: translate(0, 0) !important;
}

.isDroppedColumn {
  transition-duration: 100;
}

.dndPlaceholder {
  display: none;
}

.columnResizer {
  right: -5px;
  width: 10px;
  height: 500%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  touch-action: none;
  cursor: col-resize;

  &:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: $header-fg-color;
    opacity: 0.5;
  }
}

.copyButton {
  display: none;
}

.cellContents {
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerCellWrapper {
  @extend %headerCellPadding;
}

.experimentCellContents {
  display: flex;
  flex-flow: row wrap;
  line-height: normal;
  text-overflow: ellipsis;
  direction: ltr;
  align-items: center;
  > * {
    margin: 0 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.experimentCellSecondaryName {
  color: $meta-cell-color;
  font-size: 0.8em;
}

.innerCell {
  @extend %baseInnerCell;
  justify-content: flex-end;
}

.timestampInnerCell {
  @extend %baseInnerCell;
  @extend %truncateLeftParent;
  line-height: normal;
  text-align: right;
}

.timestampDate {
  @extend %truncateLeftChild;
  font-size: 0.7em;
}
.timestampTime {
  @extend %truncateLeftChild;
  font-size: 0.9em;
}

.timestampHeader {
  @extend %headerCellPadding;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
