// Variables

$fg-color: var(--vscode-editor-foreground);
$bg-color: var(--vscode-editor-background);
$row-bg-color: $bg-color;
$header-fg-color: $fg-color;
$border-color: grey;

$nested-row-padding: 1.35rem;

$edge-padding: 0.8rem;
$cell-padding: 0.5rem;
$workspace-row-edge-margin: $edge-padding - $cell-padding;

// Dark Theme

$row-bg-alt-color: rgba(60, 60, 60, 0.7);
$header-bg-color: #303031;
$meta-cell-color: #a0a0a0;
$toggle-color: rgba(255, 255, 255, 0.21);
$spinner-color: rgb(255, 255, 255);
$metrics-color: #fbd38d;
$params-color: #90cdf4;

// Light theme

$row-bg-alt-color-light: rgba(195, 195, 195, 0.7);
$header-bg-color-light: #e1e1e1;
$border-color-light: #7f7f7f;
$metrics-color-light: #ce9f4c;
$params-color-light: #76add1;
$toggle-color-light: rgba(0, 0, 0, 0.21);
$spinner-color-light: #000;

// Extendable Silent Rules

%expandableRowArrow {
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  display: inline-block;
  position: absolute;
  border: 2px solid $toggle-color;
  border-top: unset;
  border-left: unset;
  transition: transform 0.2s, right 0.2s, bottom 0.2s;

  :global(.vscode-light) & {
    border-color: $toggle-color-light;
  }
}

%truncateLeftParent {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

%truncateLeftChild {
  unicode-bidi: isolate;
  direction: ltr;
}

// Concrete selectors

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.bullet {
  color: $fg-color;
  display: inline-block;
  width: 24px;
  flex: 0 0 24px;
  text-align: center;
  position: relative;
  .queuedExperiment & svg {
    height: 12px;
  }

  &::before {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    content: '';
    border-radius: 99px;
    width: 6px;
    height: 6px;
    z-index: 2;

    .normalExperiment & {
      line-height: 0;
      background: currentColor;
      border-radius: 100%;
    }
    .unselectedExperiment & {
      width: 4px;
      height: 4px;
      vertical-align: middle;
      border: 1px solid currentColor;
    }
    .queuedExperiment & {
      display: none;
    }
    .runningExperiment & {
      width: 4px;
      height: 4px;
      vertical-align: middle;
      border: 1.5px solid $row-bg-color;
      border-radius: 100%;
      border-right: 1.5px solid currentColor;
      border-top: 1.5px solid currentColor;
      animation: spin 1s cubic-bezier(0.53, 0.21, 0.29, 0.67) infinite;
      background-color: $bg-color;

      @at-root {
        :global(.vscode-light) & {
          border-right-color: $spinner-color-light;
          border-top-color: $spinner-color-light;
        }
      }
    }
    .runningExperiment.oddRow & {
      background-color: $row-bg-alt-color;
    }
    .workspaceWithChanges.runningExperiment & {
      border-right-color: $metrics-color;
      border-top-color: $metrics-color;
      @at-root {
        :global(.vscode-light) & {
          border-right-color: $metrics-color-light;
          border-top-color: $metrics-color-light;
        }
      }
    }
    .runningExperiment.oddRow > .firstCell & {
      border-left: 1.5px solid $row-bg-alt-color;
      border-bottom: 1.5px solid $row-bg-alt-color;
    }
  }
}

.rowArrowPlaceholder {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  flex: 0 0 8px;
  display: inline-block;
  position: relative;
}

.expandedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(45deg);
  right: 1px;
  bottom: 2px;
  border-color: $fg-color;
}

.contractedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(-45deg);
  right: 4px;
  bottom: 0;
}

.experiments {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .firstCell {
    display: flex;
    flex-flow: row nowrap;
  }
  .experimentGroup {
    .nestedRow {
      .firstCell {
        padding-left: $nested-row-padding;
      }
    }
    &.expandedGroup .nestedRow {
      .bullet {
        &::after {
          content: '';
          height: 100%;
          top: 0;
          right: 50%;
          position: absolute;
          border-right: 1px dotted rgb(127, 127, 127);
        }
      }
      &:first-of-type {
        .bullet::after {
          height: 50%;
          top: 50%;
        }
      }
      &:last-of-type {
        .bullet::after {
          height: 50%;
        }
      }
    }
  }
  ul {
    padding-left: 1rem;
  }
  .tableContainer {
    overflow: auto;
    flex: 1;
  }
  .table {
    margin: 0.5rem 1rem;
    display: inline-block;
    border-collapse: collapse;
  }
  summary {
    white-space: nowrap;
    cursor: pointer;
    h2,
    h3 {
      margin: 0.25em;
      white-space: nowrap;
      display: inline-block;
    }
  }

  .depthSpacer {
    width: 1rem;
  }

  .thead {
    border-bottom: 1px solid $border-color;
  }

  .tr {
    position: relative;
  }

  .headerRow {
    font-size: 0.7rem;

    .headerCellContentsWrapper {
      @extend %truncateLeftParent;
      opacity: 0.6;
    }
    .cellContents {
      @extend %truncateLeftChild;
    }

    &:last-child,
    .firstLevelHeader {
      .paramHeaderCell,
      &.paramHeaderCell {
        color: $params-color;

        :global(.vscode-light) & {
          color: $params-color-light;
        }
      }

      .metricHeaderCell,
      &.metricHeaderCell {
        color: $metrics-color;

        :global(.vscode-light) & {
          color: $metrics-color-light;
        }
      }
    }

    &:last-child {
      font-size: 0.9rem;

      .headerCell {
        text-align: right;
      }

      .headerCellContentsWrapper {
        opacity: 1;
      }

      .experimentHeaderCell {
        padding-left: $cell-padding;
        text-align: left;
        direction: ltr;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .rowGroup {
    font-family: 'monospace';
    margin: 0.5rem 0;
  }
  .normalRowGroup {
    border: 1px solid $border-color;
    .oddRow {
      background-color: $row-bg-alt-color;

      :global(.vscode-light) & {
        background-color: $row-bg-alt-color-light;
      }
    }
  }
  .workspaceRowGroup {
    border: none;

    .td {
      &:first-child {
        padding-left: $workspace-row-edge-margin;
        .innerCell {
          padding-left: $cell-padding;
          border-left: 1px solid $border-color;
        }
      }

      &:last-child {
        padding-right: $workspace-row-edge-margin;
        .innerCell {
          padding-right: $cell-padding;
          border-right: 1px solid $border-color;
        }
      }
    }

    .innerCell {
      height: 100%;
      width: 100%;
      background-color: none;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }

  .workspaceWithChanges:not(.runningExperiment) {
    .bullet::before {
      background-color: $metrics-color;

      :global(.vscode-light) & {
        background-color: $metrics-color-light;
      }
    }
  }

  .workspaceChange {
    color: $metrics-color;

    :global(.vscode-light) & {
      color: $metrics-color-light;
    }
  }

  .td,
  .th {
    white-space: nowrap;
    text-align: left;
    min-width: 0;
    position: relative;
  }
  .td {
    font-size: 0.8rem;
    line-height: 2rem;
    align-items: center;
    &:first-child {
      .innerCell {
        padding-left: $edge-padding;
      }
    }

    &:last-child {
      .innerCell {
        padding-right: $edge-padding;
      }
    }
  }
  .experimentCell {
    text-align: left;
    .innerCell {
      justify-content: flex-start;
    }
  }

  .placeholderHeaderCell {
    background-color: $header-bg-color;
    border-right: 2px solid $bg-color;

    :global(.vscode-light) & {
      background-color: $header-bg-color-light;
    }
  }

  .headerCell {
    @extend .placeholderHeaderCell;
    color: $header-fg-color;
    text-align: center;
    border-bottom: 2px solid $bg-color;
    padding: 0.31rem $cell-padding;
  }

  .sortingHeaderCellAsc {
    border-top: 1px solid white;
  }

  .sortingHeaderCellDesc {
    border-bottom: 1px solid white;
  }

  .metaCell {
    color: $meta-cell-color;
    font-size: 0.75rem;
  }
}

.webviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%arrow {
  background: none;
  border: none;
  color: $header-fg-color;
  position: absolute;
  top: 5px;
}

.arrowLeft {
  @extend %arrow;
  left: -2px;
}

.arrowRight {
  @extend %arrow;
  right: -2px;
}

.draggingColumn {
  opacity: 0.7;
}

.staticColumn {
  transform: translate(0, 0) !important;
}

.isDroppedColumn {
  transition-duration: 100;
}

.dndPlaceholder {
  display: none;
}

.columnResizer {
  right: -5px;
  width: 10px;
  height: 500%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  touch-action: none;
  cursor: col-resize;

  &:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: $header-fg-color;
    opacity: 0.5;
  }
}

.copyButton {
  flex: 0 0 0.8em;
  font-size: 1.5em;
  display: none;
  border: none;
  background: none;
  color: $fg-color;
  cursor: pointer;
  width: 0.8em;
  height: 0.8em;
  line-height: 0.8em;
  padding: 0;
  margin: 0 0.25em;
}

.cellContents {
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerCellContentsWrapper {
  padding: 0.1em 0;
}

.innerCell {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 $cell-padding;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  &:hover {
    & .copyButton {
      display: block;
    }
  }
}

.experimentCellContents {
  display: flex;
  flex-flow: row wrap;
  line-height: normal;
  text-overflow: ellipsis;
  direction: ltr;
  align-items: center;
  > * {
    margin: 0 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.experimentCellSecondaryName {
  color: $meta-cell-color;
  font-size: 0.8em;
}
