.menu {
  background-color: var(--vscode-editor-foreground);
  border-radius: 6px;
  padding: 8px 12px;
  max-width: max-content;
  color: var(--vscode-editor-background);
  font-size: 0.8rem;
}

.hiddenMenu {
  opacity: 0;
}

.removedMenu {
  display: none;
}
