.codeBlock {
  text-align: left;
  padding: 10px;
  width: max-content;
  min-width: 500px;
  margin: 0 auto;
}

.codeInline {
  display: inline-block;
  background-color: transparent !important;
  padding: 0;
  min-width: 0;
}
