.bulletThemeColor0 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend00, #66779c);
  }
}

.bulletThemeColor1 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend01, #cb9f62);
  }
}

.bulletThemeColor2 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend02, #0976af);
  }
}

.bulletThemeColor3 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend03, #21c640);
  }
}

.bulletThemeColor4 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend04, #aa7771);
  }
}

.bulletThemeColor5 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend05, #bc0e23);
  }
}

.bulletThemeColor6 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend06, #c754ea);
  }
}

.bulletThemeColor7 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend07, #738e8f);
  }
}

.bulletThemeColor8 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend08, #3239a9);
  }
}

.bulletThemeColor9 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend09, #974b94);
  }
}

.bulletThemeColor10 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend10, #f6b607);
  }
}

.bulletThemeColor11 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend11, #1ace98);
  }
}

.bulletThemeColor12 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend12, #8b485c);
  }
}

.bulletThemeColor13 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend13, #5666ef);
  }
}

.bulletThemeColor14 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend14, #92a5d0);
  }
}

.bulletThemeColor15 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend15, #bf3fa2);
  }
}

.bulletThemeColor16 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend16, #a82fcb);
  }
}

.bulletThemeColor17 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend17, #c4c827);
  }
}

.bulletThemeColor18 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend18, #dee6cc);
  }
}

.bulletThemeColor19 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend19, #e38eac);
  }
}

.bulletThemeColor20 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend20, #b8de50);
  }
}

.bulletThemeColor21 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend21, #0b0311);
  }
}

.bulletThemeColor22 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend22, #abeebb);
  }
}

.bulletThemeColor23 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend23, #b1419c);
  }
}

.bulletThemeColor24 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend24, #1d244a);
  }
}

.bulletThemeColor25 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend25, #c31b44);
  }
}

.bulletThemeColor26 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend26, #996977);
  }
}

.bulletThemeColor27 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend27, #fb79d6);
  }
}

.bulletThemeColor28 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend28, #528cca);
  }
}

.bulletThemeColor29 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend29, #11899d);
  }
}

.bulletThemeColor30 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend30, #79fba8);
  }
}

.bulletThemeColor31 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend31, #b6f165);
  }
}

.bulletThemeColor32 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend32, #a914ce);
  }
}

.bulletThemeColor33 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend33, #6ef1b3);
  }
}

.bulletThemeColor34 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend34, #72ed58);
  }
}

.bulletThemeColor35 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend35, #341610);
  }
}

.bulletThemeColor36 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend36, #547664);
  }
}

.bulletThemeColor37 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend37, #efb9ea);
  }
}

.bulletThemeColor38 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend38, #5255c3);
  }
}

.bulletThemeColor39 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend39, #7ac275);
  }
}

.bulletThemeColor40 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend40, #1bb0bf);
  }
}

.bulletThemeColor41 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend41, #59397c);
  }
}

.bulletThemeColor42 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend42, #655d3c);
  }
}

.bulletThemeColor43 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend43, #80ee35);
  }
}

.bulletThemeColor44 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend44, #8a4b9b);
  }
}

.bulletThemeColor45 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend45, #181c02);
  }
}

.bulletThemeColor46 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend46, #c7aa2b);
  }
}

.bulletThemeColor47 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend47, #7887bc);
  }
}

.bulletThemeColor48 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend48, #c4c8c9);
  }
}

.bulletThemeColor49 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend49, #c23252);
  }
}
