.bulletThemeColor0 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend00);
  }
}

.bulletThemeColor1 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend01);
  }
}

.bulletThemeColor2 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend02);
  }
}

.bulletThemeColor3 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend03);
  }
}

.bulletThemeColor4 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend04);
  }
}

.bulletThemeColor5 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend05);
  }
}

.bulletThemeColor6 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend06);
  }
}

.bulletThemeColor7 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend07);
  }
}

.bulletThemeColor8 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend08);
  }
}

.bulletThemeColor9 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend09);
  }
}

.bulletThemeColor10 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend10);
  }
}

.bulletThemeColor11 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend11);
  }
}

.bulletThemeColor12 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend12);
  }
}

.bulletThemeColor13 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend13);
  }
}

.bulletThemeColor14 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend14);
  }
}

.bulletThemeColor15 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend15);
  }
}

.bulletThemeColor16 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend16);
  }
}

.bulletThemeColor17 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend17);
  }
}

.bulletThemeColor18 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend18);
  }
}

.bulletThemeColor19 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend19);
  }
}

.bulletThemeColor20 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend20);
  }
}

.bulletThemeColor21 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend21);
  }
}

.bulletThemeColor22 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend22);
  }
}

.bulletThemeColor23 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend23);
  }
}

.bulletThemeColor24 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend24);
  }
}

.bulletThemeColor25 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend25);
  }
}

.bulletThemeColor26 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend26);
  }
}

.bulletThemeColor27 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend27);
  }
}

.bulletThemeColor28 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend28);
  }
}

.bulletThemeColor29 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend29);
  }
}

.bulletThemeColor30 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend30);
  }
}

.bulletThemeColor31 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend31);
  }
}

.bulletThemeColor32 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend32);
  }
}

.bulletThemeColor33 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend33);
  }
}

.bulletThemeColor34 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend34);
  }
}

.bulletThemeColor35 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend35);
  }
}

.bulletThemeColor36 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend36);
  }
}

.bulletThemeColor37 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend37);
  }
}

.bulletThemeColor38 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend38);
  }
}

.bulletThemeColor39 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend39);
  }
}

.bulletThemeColor40 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend40);
  }
}

.bulletThemeColor41 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend41);
  }
}

.bulletThemeColor42 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend42);
  }
}

.bulletThemeColor43 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend43);
  }
}

.bulletThemeColor44 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend44);
  }
}

.bulletThemeColor45 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend45);
  }
}

.bulletThemeColor46 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend46);
  }
}

.bulletThemeColor47 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend47);
  }
}

.bulletThemeColor48 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend48);
  }
}

.bulletThemeColor49 {
  .normalExperiment &::before {
    background: var(--vscode-dvc-expLegend49);
  }
}
