// Variables

$bg-color: var(--vscode-editor-background);
$row-bg-color: $bg-color;
$header-fg-color: var(--vscode-editor-foreground);
$border-color: grey;

// Dark Theme

$row-bg-alt-color: rgba(60, 60, 60, 0.7);
$header-bg-color: #303031;
$meta-cell-color: #A0A0A0;
$toggle-color: rgba(255, 255, 255, 0.21);
$spinner-color: rgb(255, 255, 255);
$metrics-color: #FBD38D;
$params-color: #90CDF4;

// Extendable Silent Rules

%fullwidth {
  @extend %fullwidth;
}

%expandableRowArrow {
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  display: inline-block;
  position: absolute;
  border: 2px solid $toggle-color;
  border-top: unset;
  border-left: unset;
  transition: transform 0.2s, right 0.2s, bottom 0.2s;
}

// Concrete selectors

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bullet {
  display: inline-block;
  width: 24px;
  flex: 0 0 24px;
  text-align: center;
  position: relative;

  &::before {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    content: '';
    border-radius: 99px;
    width: 6px;
    height: 6px;
    z-index: 2;
    .normalExperiment & {
      line-height: 0;
      background: rgb(127, 127, 127);
      border-radius: 100%;
    }
    .queuedExperiment & {
      background: conic-gradient(
        from 180deg at 50% 50%,
        rgba(255, 255, 255, 0.5) 0deg,
        rgba(255, 255, 255, 0) 180.31deg,
        rgba(255, 255, 255, 0) 360deg
      );
      border: 1px solid $spinner-color;
    }
    .runningExperiment & {
      width: 4px;
      height: 4px;
      vertical-align: middle;
      border: 1.5px solid $row-bg-color;
      border-radius: 100%;
      border-right: 1.5px solid $spinner-color;
      border-top: 1.5px solid $spinner-color;
      animation: spin 1s ease-in-out infinite;
      background-color: $bg-color;
    }
    .runningExperiment.oddRow > .firstCell & {
      border-left: 1.5px solid $row-bg-alt-color;
      border-bottom: 1.5px solid $row-bg-alt-color;
    }
  }
}

.rowArrowPlaceholder {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  flex: 0 0 8px;
  display: inline-block;
  position: relative;
}

.expandedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(45deg);
  right: 1px;
  bottom: 2px;
}

.contractedRowArrow {
  @extend %expandableRowArrow;
  transform: rotate(-45deg);
  right: 4px;
  bottom: 0;
}

.errorMessage {
  padding: 0.5rem;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-editor-foreground);
}

.experiments {
  @extend %fullwidth;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .firstCell {
    display: flex;
    flex-flow: row nowrap;
  }
  .experimentGroup {
    .nestedRow {
      .firstCell {
        padding-left: 2rem;
      }
    }
    &.expandedGroup .nestedRow {
      .bullet {
        &::after {
          content: '';
          height: 100%;
          top: 0;
          right: 50%;
          position: absolute;
          border-right: 1px solid rgb(127, 127, 127);
        }
      }
      &:first-of-type {
        .bullet::after {
          height: 50%;
          top: 50%;
        }
      }
      &:last-of-type {
        .bullet::after {
          height: 50%;
        }
      }
    }
  }
  ul {
    padding-left: 1rem;
  }
  .tableContainer {
    @extend %fullwidth;
    overflow: auto;
    flex: 1;
  }
  .table {
    @extend %fullwidth;
    margin: 0.5rem 1rem;
    display: inline-block;
    border-collapse: collapse;
  }
  summary {
    white-space: nowrap;
    cursor: pointer;
    h2,
    h3 {
      margin: 0.25em;
      white-space: nowrap;
      display: inline-block;
    }
  }

  .depthSpacer {
    width: 1rem;
  }

  .thead {
    border-bottom: 1px solid $border-color;
  }

  .tr {
    position: relative;
  }

  .headerRow {
    font-size: 0.7rem;
    
    .headerCell div {
      opacity: 0.6;
    }

    &:last-child, .firstLevelHeader {
      .paramHeaderCell, &.paramHeaderCell {
        color: $params-color;
      }

      .metricHeaderCell, &.metricHeaderCell {
        color: $metrics-color;
      }
    }

    &:last-child {
      font-size: 0.9rem;

      .headerCell div {
        opacity: 1;
      }
    }
  }

  .rowGroup {
    font-family: 'monospace';
    margin: 0.5rem 0;
  }
  .normalRowGroup {
    border: 1px solid $border-color;
    .oddRow {
      background-color: $row-bg-alt-color;
    }
  }
  .workspaceRowGroup {
    border: none;

    .tr .td {
      background-color: none;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      &.firstCell {
        border-left: 1px solid $border-color;
        margin-left: 0;
        position: relative;

        &::before {
          content: '';
          background-color: $bg-color;
          height: calc(100% + 2px);
          position: absolute;
          top: -1px;
          left: -1px;
          width: calc(0.7rem + 1px);
          border-right: 1px solid $border-color;
        }
      }
  
      &:last-child {
        border-right: 1px solid $border-color;

        &::after {
          content: '';
          background-color: $bg-color;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          width: calc(0.7rem + 1px);
          border-left: 1px solid $border-color;
        }
      }
    }
  }
  .td,
  .th {
    white-space: nowrap;
    text-align: left;
    min-width: 0;
  }
  .td {
    padding: 0 0.25rem;
    font-size: 0.8rem;
    line-height: 2rem;
    align-items: center;
  }
  .experimentCell {
    text-align: left;
    padding-left: 0.7rem;
  }
  .groupedCell {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .placeholderHeaderCell {
    background-color: $header-bg-color;
    border-right: 2px solid $bg-color;
  }

  .headerCell {
    @extend .placeholderHeaderCell;
    color: $header-fg-color;
    text-align: center;
    border-bottom: 2px solid $bg-color;
    padding: 0.31rem;
  }

  .sortingHeaderCellAsc {
    border-top: 1px solid white;
  }

  .sortingHeaderCellDesc {
    border-bottom: 1px solid white;
  }

  .metaCell {
    color: $meta-cell-color;
    text-align: center;
    font-size: 0.75rem;
  }
}

.webviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Light theme
$row-bg-alt-color-light: rgba(195, 195, 195, 0.7);
$header-bg-color-light: #e1e1e1;
$border-color-light: #7F7F7F;
$metrics-color-light: #ce9f4c;
$params-color-light: #76add1;
$toggle-color-light: rgba(0, 0, 0, 0.21);
$spinner-color-light: #000;

:global(.vscode-light) {
  .bullet .runningExperiment.oddRow > .firstCell & {
    border-color: $row-bg-alt-color-light;
  }
  .queuedExperiment .bullet {
    &::before {
        background: conic-gradient(
          from 180deg at 50% 50%,
          rgba($spinner-color-light, 0.5) 0deg,
          rgba($spinner-color-light, 0) 180.31deg,
          rgba($spinner-color-light, 0) 360deg
        );
        border-color: $spinner-color-light;
    }
  }

  .runningExperiment .bullet {
    &::before {
      border-right-color: $spinner-color-light;
      border-top-color: $spinner-color-light;
    }
  }

  .experiments {
    .normalRowGroup .oddRow {
      background-color: $row-bg-alt-color-light;
    }
  
    .placeholderHeaderCell {
      background-color: $header-bg-color-light;
    }

    .headerRow {
      &:last-child, .firstLevelHeader {
        .paramHeaderCell, &.paramHeaderCell {
          color: $params-color-light;
        }
  
        .metricHeaderCell, &.metricHeaderCell {
          color: $metrics-color-light;
        }
      }
    }
  }

  %expandableRowArrow {
    border-color: $toggle-color-light;
  }
}
