:global(.tippy-box).menu {
  border-radius: 0;
  background-color: var(--vscode-menu-background);
  max-width: max-content;
  color: var(--vscode-menu-foreground);
  font-size: 0.8rem;
  transition: none;
  white-space: nowrap;
  & > :global(.tippy-arrow) {
    color: var(--vscode-editor-background);
  }
  & > :global(.tippy-content) {
    padding: 8px 12px;
  }
}
