$vscode-drop-shadow: drop-shadow(0 0 4px var(--vscode-widget-shadow));
$foreground: var(--vscode-menu-foreground);
$background: var(--vscode-menu-background);
$font: var(--vscode-font-family);

:global(.tippy-box).padded {
  & > :global(.tippy-content) {
    padding: 2px 6px;
  }
}
:global(.tippy-box) {
  filter: $vscode-drop-shadow;
  font-family: $font;
  max-width: max-content;
  font-size: 0.8rem;
  transition: none;
  white-space: nowrap;
  & > :global(.tippy-arrow) {
    color: $background;
    z-index: 2;
    ::before {
      overflow: hidden;
    }
  }
  & > :global(.tippy-content) {
    color: $foreground;
    white-space: nowrap;
    padding: 0;
    background-color: $background;
    z-index: 1;
  }
}
