@import '../../variables';

/* stylelint-disable selector-class-pattern -- third party selectors */
:global(.tippy-box) {
  filter: $tooltip-drop-shadow;
  font-family: $font;
  max-width: max-content;
  font-size: 0.8rem;
  transition: none;
  white-space: nowrap;

  & > :global(.tippy-arrow) {
    color: $tooltip-background;
    z-index: 1;

    ::before {
      overflow: hidden;
    }
  }

  & > :global(.tippy-content) {
    color: $tooltip-foreground;
    white-space: nowrap;
    padding: 0;
    background-color: $tooltip-background;
    z-index: 2;
  }
}
/* stylelint-enable selector-class-pattern */

.tooltipContent {
  border: 1px solid $tooltip-border;
  white-space: pre-wrap;
  padding: 5px;
  display: flex;
  gap: 4px;
  font-size: 0.8125rem;

  svg {
    min-width: 16px;
    min-height: 16px;
  }
}

.errorIcon {
  margin-left: 6px;
  margin-top: 3px;
}

.errorTooltip {
  white-space: pre-wrap;
  display: flex;
  gap: 4px;

  svg {
    min-width: 16px;
    min-height: 16px;
  }
}
