$vscode-shadow: var(--vscode-widget-shadow) 0px 0px 8px 2px;
$foreground: var(--vscode-menu-foreground);
$background: var(--vscode-menu-background);

:global(.tippy-box).menu {
  font-family: var(--vscode-font-family);
  max-width: max-content;
  color: $foreground;
  font-size: 0.8rem;
  transition: none;
  white-space: nowrap;
  & > :global(.tippy-arrow) {
    color: $background;
    z-index: 2;
    ::before {
      overflow: hidden;
      box-shadow: $vscode-shadow;
    }
  }
  & > :global(.tippy-content) {
    background-color: $background;
    box-shadow: $vscode-shadow;
    z-index: 1;
  }
}
