@import '../../../shared/variables.scss';

.copyButton {
  display: none;
  position: absolute;
  right: 0;
  top: 3px;
}

.columnsTable {
  td {
    padding: 2px;

    &:first-child {
      text-align: left;
    }
  }
}

.block {
  border-left-style: solid;
  border-left-width: 3px;
  background-color: $plot-block-bg-color;
  color: $fg-color;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8125rem;

  svg {
    fill: $fg-color;
    display: block;
  }

  &:hover .copyButton {
    display: inline;
    font-size: 0.8125rem;
  }

  .iconPlaceholder {
    margin-left: -4px;
    height: 18px;
    width: 18px;
  }

  .fetching {
    height: 18px;
    width: 18px;
  }
}

.label {
  height: 26px;
  padding: 2px 4px;
  background-color: transparent;
  border: none;
  text-align: left;
  color: $fg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: max-content;
  line-height: 1.1;
}

.title {
  display: inline-flex;
  align-items: center;
  padding-right: 15px;
  position: relative;
  font-size: 0.8rem;
}

.subtitle {
  color: $watermark-color;
  font-size: 0.5625rem;
}

.clearButton {
  background-color: transparent;
  border: none;
  padding: 3px;
  opacity: 0;

  .block:hover & {
    opacity: 1;
  }

  :hover {
    background-color: $row-bg-alt-color;
  }
}

.list {
  display: flex;
  position: sticky;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
  margin: 0;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $bg-color;
  transition: box-shadow 0.25s;

  &.withShadow {
    box-shadow: 0 5px 8px -2px $shadow;
  }
}

.buttonWrapper {
  list-style: none;
}
