@use '../../../shared/variables';
@use '../../../shared/mixins';

.codeBlock {
  text-align: left;
  padding: 10px;
  width: max-content;
  min-width: 500px;
  margin: 0 auto;
}

.codeInline {
  display: inline-block;
  background-color: transparent !important;
  padding: 0;
  min-width: 0;
}

.infoIcon {
  fill: variables.$accent-color;
  margin-bottom: -3px;
}

.detailsTable {
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1rem;
}

.detailsTableKey {
  font-weight: bold;
  white-space: nowrap;
  vertical-align: top;
}

.detailsTableValue {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.buttonAsLink {
  @extend %buttonAsLink;

  font-size: inherit;
}

.separator {
  margin: 0 5px;

  &::before {
    content: '|';
  }
}
