name: Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - run: yarn install

      - run: yarn format-all

      - run: yarn lint-all

      - run: yarn build -o ./vscode-dvc.vsix

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Built package
          path: ./extension/vscode-dvc.vsix
