name: Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update package.json version
        uses: rogermparent/action-set-json-field@v1
        with:
          file: extension/package.json
          field: version
          value: '{{ original }}-${{ github.sha }}'

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - name: Get Yarn cache path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        name: Restore Yarn cache
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn

      - uses: actions/cache@v2
        name: Restore ESLint cache
        id: eslint-cache
        with:
          path: .eslintcache
          key: eslint-cache

      - uses: actions/cache@v2
        name: Restore .vscode-test cache
        id: vscode-cache
        with:
          path: extension/.vscode-test
          key: vscode-test

      - run: yarn install

      - run: xvfb-run -a yarn run-p lint test

      - uses: paambaati/codeclimate-action@v2.2.4
        env:
          CC_TEST_REPORTER_ID: 0203812ad15bfebc1ad465645351dd995082fd1f2d31ad9240ff09cb9d1acdc0
        with:
          coverageCommand: yarn cover

      - run: yarn run-p "build-extension -o ./vscode-dvc.vsix" build-storybook

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: 'webview/storybook-static'
          exitOnceUploaded: true

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Built package
          path: ./extension/vscode-dvc.vsix
