name: Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - name: Setup Python
        uses: actions/setup-python@v2

      - name: Get Yarn cache path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        name: Restore Yarn cache
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn

      - uses: actions/cache@v2
        name: Restore ESLint cache
        id: eslint-cache
        with:
          path: .eslintcache
          key: eslint-cache

      - uses: actions/cache@v2
        name: Restore .vscode-test cache
        id: vscode-cache
        with:
          path: extension/.vscode-test
          key: vscode-test

      - run: yarn install

      - run: yarn run-p "ci:setup"

      - run: xvfb-run -a yarn run-p "ci:run"

      - run: yarn run-p "build -o ./vscode-dvc.vsix" build-storybook

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: 'webview/storybook-static'

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Built package
          path: ./extension/vscode-dvc.vsix
