name: Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update package.json version
        uses: rogermparent/action-set-json-field@v1
        with:
          file: extension/package.json
          field: version
          value: '{{ original }}-${{ github.sha }}'

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'

      - run: yarn run install-frozen-lockfile

      - run: yarn run lint

      - uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          coverageCommand: xvfb-run -a yarn run cover
          coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov

      - run: yarn run-p "build-extension -o ./vscode-dvc.vsix" build-storybook

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: 'webview/storybook-static'
          exitOnceUploaded: true
          autoAcceptChanges: 'master'

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Built package
          path: ./extension/vscode-dvc.vsix
