name: Cross-Platform Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: cross-platform-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  suite:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: yarn

      - name: Turbo cache
        if: ${{ github.ref_name != 'main' }}
        id: turbo-cache
        uses: actions/cache@v4
        with:
          path: node_modules/.cache/turbo
          key:
            turbo-${{ runner.os }}-cross-platform-${{ github.job }}-${{
            github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}-cross-platform-${{ github.job }}-${{ github.ref_name }}-

      - run: yarn config set network-timeout 300000
      - run: yarn install

      - run: yarn run test:jest

      - run: yarn run test:vscode
