name: Cross-Platform Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: cross-platform-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  suite:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: yarn

      - run: yarn install

      - run: yarn turbo run test

      - run: yarn run test:vscode
