name: DVC CLI Output Test

on:
  schedule:
    - cron: '0 1 * * *'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: yarn

      - run: yarn install
      - run: yarn scheduled:cli:test
