name: End-To-End Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn

      - name: Setup Python environment
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - run: yarn run install-frozen-lockfile

      - name: Test E2E
        uses: GabrielBB/xvfb-action@v1
        with:
          run: yarn test:e2e
          options: '-screen 0 1600x1200x24'
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: screenshots
          path: |
            extension/src/test/e2e/screenshots
            extension/src/test/e2e/logs
